<h2>Контакты</h2>
<p>Пожалуйста, оставьте свое сообщение и адрес почты. Мы обязательно свяжемся с вами!</p>
</br>
<form action="/contacts" method="POST">
  <div class="form-group">
    <label>E-mail:</label>
    <input name="contact[email]" type="text" class="form-control" placeholder="введите e-mail" <%="value=#{params[:email]}" if params[:email]%>>
  </div>
  <div class="form-group">
    <label>Сообщение:</label>
    <textarea name="contact[message]" class="form-control" rows="3" placeholder="текст сообщения"><%=params[:msg] if params[:msg]%></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>